body {
    font-family: 'courier', Monaco, monospace;
    color: #00ff00;
    background: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 50px;
    padding: 50px 0;
}

/* Header Styling */
header {
    width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #b5e853;
}

/* Profile Picture*/
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.profile_pic {
    border-radius: 50%;
    border-style: inset;
    border-color: #00ff00;
    box-shadow: 10px 10px 15px rgb(53, 52, 52);
    margin-bottom: 0;
    width: 250px;
    height: auto;
}

.bio {
    text-align: center;
    margin-top: 10px;
}

header h1 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 10px 0;
}

header p {
    color: #00ff00;
    font-size: 18px;
    font-weight: 300;
}

/* Main Content */
section {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Headings */
h1, h2, h3 {
    color: #00ff00;
    font-weight: bold;
}

/* Links */
a {
    color: lightgray;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
    display: inline-block;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
    transform: scale(1.1);
}

/* Lists */
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li, ol li {
    padding: 5px 0;
}

ul li:before {
    content: "➤ ";
    color: #00ff00;
    margin-right: 10px;
}

/* Section for my badges */
.badges {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px;
}

.badges img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    max-width: 100%;
}

/* Section for styling tabs */

/* Tab styling */
.tablinks {
    flex-grow: 1;
    width: 100%;
    border: 1px solid #00ff00;
    color: #00ff00;
    background-color: rgb(53, 52, 52);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 86px;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    transition: 0.3s;
}

/* Tab Button positioning */
.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* background colour of tab buttons on hover */
.tablinks:hover {
  background-color: rgb(0, 161, 0);
}

/* active/current tab */
.tablinks.active {
  background-color: #111;
  display: flex;
}

/* Tab content style */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* full page container*/
.portfolio-container {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #111;
    border: 3px solid rgb(53, 52, 52);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.3);
    border-radius: 10px;
}

/* Containers within the tabs*/
.split-container {
    display: flex;
    width: 100%;
}

.split-left, .split-right {
    width: 50%;
    padding: 30px;
}


/* Responsive Design */
@media screen and (max-width: 920px) {
    header, section {
        width: 90%;
        margin: 0 auto;
        padding: 20px 10px;
    }
    .profile_pic {
        transform: scale(0.8);
    }
}